{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <div class="row">
            {% for trailer in trailers %}
                <div class="col-3 mt-5 text-center">
                    <a href="{{ url_for('trailer', {'id': trailer.id}) }}">{{ trailer.title }}</a>
                    {% include "home/parts/picture.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
