{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between">
                    <h1>{{ trailer.title }}</h1> <a href="{{ trailer.link }}" target="_blank">Go to iTunes</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {% include "home/parts/picture.html.twig" %}
            </div>
            <div class="col-10">
                {{ trailer.description }}
            </div>
        </div>

        <div class="mt-5">
            <a href="{{ url_for('main') }}">Go back</a>
        </div>
    </div>
{% endblock %}